body {
    background-color: rgb(154, 154, 154);
}

header {
    background-color: blue;
}

footer {
    background-color: rgb(134, 134, 134);
}

.new-match-button {
    background-color: rgb(105, 105, 105);
}

.list-container {
    background-color: None;
}